{% extends 'layout.html' %}

{% block content %}
    <div class="hosts">

        {% for item in items.slice(0, 3) %}
                <div class="card" id={{item.photo}}>
                    <div class="img">
                        <img class="image" src="{{item.photo}}" alt="Imagem do espaço" onclick="modal()">
                    </div>
                    <div class="infos">
                        <p id="propriedade">{{item.property_type}}</p>
                        <p id="nome">{{item.name}}</p>
                        <p id="preco">{{item.price}}</p>
                    </div>
                </div>
        {% endfor %}

    </div>

    <div id="all" class="all">
        <p><a href="/locais">+ exibir mais opções</a></p>
    </div>

    <div class="news">
        <img src="https://image.flaticon.com/icons/svg/776/776531.svg" alt="">
        <h2>Sugestões de pacotes de viagens</h2>
    </div>

    <div id="produtos">
        <div class="produtoDestaque">
            <iframe 
                class="avatar" 
                style="background: url(https://source.unsplash.com/collection/3504465/500x500) no-repeat center center / cover">
            </iframe>
            <h3>Praias</h3>
        </div>
        <div class="produtoDestaque">
            <iframe 
                class="avatar" 
                style="background: url(https://source.unsplash.com/collection/273266/500x500) no-repeat center center / cover">
            </iframe>
            <h3>Inverno</h3>
        </div>
        <div class="produtoDestaque">
            <iframe 
                class="avatar" 
                style="background: url(https://source.unsplash.com/collection/1129/500x500) no-repeat center center / cover">
            </iframe>
            <h3>Roteiros</h3>
        </div>
    </div>
{% endblock %}

{% block modal %}

    {% include 'modal.html' %}

{% endblock %}