@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* .container {
    width: 940px;
    margin: 0 230px;
    background-color: white;
} */

.container {
    width: 940px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    
}

.header img {
    width: 50px;
    height: 50px;
    margin: 35px 0px 0px 0px;
}

.links {
    margin: 35px 0px 0px 0px;
}

.links a {
    color: #111111;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.links button {
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    padding: 10px 7px;
    margin: 10px 10px;
    border: #777777 solid 0px;
    box-shadow: 0px 1px 3px 0px #777777;
    border-radius: 20px;
}

.links a:hover {
    transition: 700ms;
    cursor: pointer;
    color: steelblue;
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: left;
    margin: 20px 0px 0px 0px;
}

.menu a {
    margin: 0px 30px 0px 0px;
    text-decoration: none;
    color: #111111;
}

.pesquisa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px 5px;
    margin: 20px 0px 0px 0px;
    border: solid 0px blue;
    border-radius: 10px;
    /* box-shadow: 0px 0px 4px -1px; */
}

/* .pesquisa div:hover() {
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    padding: 0px 15px;
    box-shadow: 1px 1px 1px 0px;
} */

.pesquisa div:nth-child(1) {
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
}

.pesquisa div:nth-child(2) {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

.pesquisa div:nth-child(3) {
    padding: 0;
    margin: 0px 0px -10px 1px;
}

.pesquisa input{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 13px;
    margin: 5px 0;
}

#data {
    font-size: 12px;
    font-weight: 600;
    font-family: roboto;
    color: #555;
}

.busca {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0px 0px 0px 30px;
}

.pesquisa button {
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    padding: 0;
    width: 100%;
    height: 80%;
    margin: 0;
}

.hosts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0px;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 5px 9px 2px #d4d4d4;
}

.card:hover {
    transform: skewX(-5deg);
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.card img:hover{
    border-radius: 10px;
    -webkit-filter: grayscale(100%);
    transition: 0.2s;
}

.card img:hover {
    cursor: pointer;
}

.infos {
    margin: 5px 5px;
    color: #111111;
}

.infos h3 {
    font-size: 18px;
    color: #111111;
}

.infos p:first-child {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    color: #111111;
}

.infos p:nth-child(2) {
    font-size: 12px;
    margin-top: 5px;
    color: #111111;
}

.infos p:last-child {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    color: #111111;
}

.all {
    position: absolute;
    left: 84.2%;
}

.all a {
    text-decoration: none;
    color: #111111;
    text-decoration: none;
    font-weight: bold;
}

.all a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.news {
    display: flex;
    justify-content: left;
margin: 50px 0px 0px 0px;
}

.news img {
    width: 4%;
    margin-right: 10px;
}

.news h2 {
    margin: 5px 0px 0px 0px;
    padding: 5px 5px 0px 5px;
    color: #111111;
    font-size: 20px;
    font-weight: 400;
}

#produtos {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.produtoDestaque {
    border: gray 1px solid;
    height: 400px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: gray 2px 2px 3px;
}

.produtoDestaque iframe {
    border-radius: 9px;
    width: 100%;
    height: 350px;
}

.produtoDestaque h3 {
    text-align: center;
    font-size: 25px;
    padding: 8px 0px;
    font-weight: 400;
    color: #111111;
}

.produtoDestaque p {
    margin: 10px;
    text-align: justify;
}

.col-lg-10 {
    flex: 0 0 50%;
    max-width: 100%;
}

.col-lg-10 iframe {
    height: 250px;
}

.footer {
    background-color: cornflowerblue;
    height: 62px;
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 0;
    margin: -5px 0px 0px 0px;
}

.footer p {
    padding: 23px 0px 0px 0px;
    margin: 0px;
}

/* MODAL */

.modal {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    opacity: 0;
    visibility: hidden;
}

.modal-on {
    background-color: white;
    width: 600px;
    height: 550px;
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 20px;
    /* text-align: center; */
    transform: translate(-50%, -10%);
}

.modal-on h3 {
    font-size: 20px;
    color: #555;
    margin: 5px 0px 0px 0px;
}

.modal-on p {
    font-size: 18px;
    color: #777777;
    margin: 0;
}

.modal-info {
    text-align: center;
}

.modal-info .modal-preco {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
    
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.image-modal {
    padding: 10px 10px 0px 10px;
    text-align: center;
    
}

.image-modal img {
    width: 80%;
    border-radius: 20px;
}

.close {
    background-color: #FBDFBD;
    margin: 30px 0px 0px 0px;
    padding: 5px 10px;
    border-radius: 20px;
}

.close:hover {
    cursor: pointer;
}







/* MODAL */
/* 
.modal {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    opacity: 0;
    visibility: hidden;
}

.modal-on {
    background-color: white;
    width: 600px;
    height: 550px;
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 20px;
    text-align: center;
    transform: translate(-50%, -10%);
}

.modal-on h3 {
    font-size: 20px;
    color: #555;
    margin: 5px 0px 0px 0px;
}

.modal-on p {
    font-size: 18px;
    color: #777777;
    margin: 5px 0px 0px 0px;
}

.modal-info .modal-preco {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.image-modal {
    padding: 10px 10px 0px 10px;
    
}

.image-modal img {
    width: 100%;
    border-radius: 20px;
}

.close {
    background-color: #FBDFBD;
    margin: 30px 0px 0px 0px;
    padding: 5px 10px;
    border-radius: 20px;
}

.close:hover {
    cursor: pointer;
} 


---------------------------------

.pesquisa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px 5px;
    margin: 20px 0px 0px 0px;
    border: solid 0px blue;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -1px;
}

/* .pesquisa div:hover() {
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    padding: 0px 15px;
    box-shadow: 1px 1px 1px 0px;
}

.pesquisa div:nth-child(1) {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

.pesquisa div:nth-child(2) {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

.pesquisa div:nth-child(3) {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

.pesquisa input{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 13px;
    margin: 5px 0;
}

 .pesquisa:last-child {
    padding: 0px 0px 0px 10px;
    margin: 0;
} 
 
#data {
    font-size: 12px;
    font-weight: 600;
    font-family: roboto;
    color: #555;
}

.busca {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0px 0px 0px 30px;
}

.pesquisa button {
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    padding: 0;
    width: 100%;
    height: 100%;
} */

