@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* .container {
    width: 940px;
    margin: 0 230px;
    background-color: white;
} */

.container {
    width: 940px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    
}

.header img {
    width: 50px;
    height: 50px;
    margin: 35px 0px 0px 0px;
}

.links {
    margin: 35px 0px 0px 0px;
}

.links a {
    color: #111111;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.links button {
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    padding: 10px 7px;
    margin: 10px 10px;
    border: #777777 solid 0px;
    box-shadow: 0px 1px 3px 0px #777777;
    border-radius: 20px;
}

.links a:hover {
    transition: 700ms;
    cursor: pointer;
    color: steelblue;
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: left;
    margin: 20px 0px 0px 0px;
}

.menu a {
    margin: 0px 30px 0px 0px;
    text-decoration: none;
    color: #111111;
}

.pesquisa {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 20px 0px 0px 0px;
    border: solid 0px blue;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -1px;
}

.pesquisa div:hover() {
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    padding: 0px 15px;
    box-shadow: 1px 1px 1px 0px;
}

.pesquisa button {
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    padding: 0px 10px;
}

.hosts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0px;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 5px 9px 2px #d4d4d4;
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.infos {
    margin: 5px 5px;
    color: #111111;
}

.infos h3 {
    font-size: 18px;
    color: #111111;
}

.infos p:first-child {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    color: #111111;
}

.infos p:nth-child(2) {
    font-size: 16px;
    margin-top: 5px;
    color: #111111;
}

.infos p:last-child {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    color: #111111;
}

#produtos {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.produtoDestaque {
    border: gray 1px solid;
    height: 400px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: gray 2px 2px 3px;
}

.produtoDestaque iframe {
    border-radius: 9px;
    width: 100%;
    height: 350px;
}

.produtoDestaque h3 {
    text-align: center;
    font-size: 25px;
    padding: 8px 0px;
}

.produtoDestaque p {
    margin: 10px;
    text-align: justify;
}

.col-lg-10 {
    flex: 0 0 50%;
    max-width: 100%;
}

.col-lg-10 iframe {
    height: 250px;
}

.footer {
    background-color: cornflowerblue;
    height: 62px;
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 0;
    margin: -5px 0px 0px 0px;
}

.footer p {
    padding: 23px 0px 0px 0px;
    margin: 0px;
}
